.price {
  display: flex;
  gap: 2px;
}

.price--small {
  font-weight: 400;
  font-size: 12px;
}

.price--medium {
  font-weight: 400;
  font-size: 16px;
}

.price--large {
  font-weight: 400;
  font-size: 25px;
}

.decimal--large {
  font-size: 16px;
  font-weight: 300;
}
