.card {
  display: grid;
  gap: 10px;
  color: black;
}

.cardRow {
  grid-template-areas: 
    "media title"
    "media title";
  grid-template-columns: 110px 1fr;
  padding: 10px;
}

.cardDetail {
  grid-template-areas: 
    "media title"
    "media title"
    "media actions"
    "body -";
  grid-template-columns: 2fr 1fr;
  padding: 10px;
  margin: 15px;
}
