.cardActions {
  grid-area: actions;
}

.cardButton {
  background-color: rgb(var(--acent-bg-color-rgb)) ;
  color: rgb(var(--color-acent-rgb));
  padding: 10px;
  width: 100%;
  border-radius: 4px;
}
