:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --primary-color-rgb:  255, 230, 0;
}

/* RESET */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input, button {
  border: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background));
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  padding: 10px;
}
